*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    text-decoration: none;   
}
p{  margin:1px 2px 1px 2px;
    padding: 10px;
    color: white;
    text-align: justify;
    font-size:14px;

}

.imagens{                               /* imagem */
    border-radius: 5cap 40cap;
    width: 80%;
    border: 3px solid aquamarine;
}
#table{                                 /* tabela formulário */
    text-align: left;
    display: inline-block;
}
#titulo{                                /*titulo*/
    text-align: right;
    padding: large;
    color: aquamarine;
}
#menu{                                  /*menu*/
    text-decoration: none;
    text-align: center;
    color: aquamarine;
    border: 10px;
    padding: 15px;
    box-sizing: border-box;

}
#header{
    background-color: grey;
    padding: 25px;
    text-align: center;
}
#header a:link, #header a:visited{
    color: #ffffff;
    padding:5px 7px;
}
#header a:hover{
    color: black;
    background-color: aquamarine;
}

#logo, #menu{
    padding: 5px;
}

#rodape{                                 /*rodapé*/
    background-color: aquamarine;
}
#content{                                /* conteudo */
    text-align: center;
    padding: 15;
    text-decoration: none;
}
#content2{                                  /* segundo conteudo */
    text-align:left;
}
